@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}
article {
  background-color: white;
  border-radius: 1rem;
  margin: auto;
  width: min(90%, 33rem);
  margin-top: 1.5rem;
}

picture {
  width: 100%;
}

picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.text-content {
  padding: 20px;
}
.categorie {
  letter-spacing: 3px;
  font-size: 13px;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding: 10px 0 10px 0;
}

p {
  color: hsl(228, 12%, 48%);
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.new {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
}
.old {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
button {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.6rem;
  width:  100%;
  padding: 14px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  gap: 10px;
}
button img {
  width: 15px;
}

/*Desktop*/
@media (min-width: 500px) {
  article {
    display: flex;
    margin: auto;
    margin-top: 10rem;
  }
  picture img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0rem !important;
  }
  .content {
    width: 100%;
  }
  button {
    width:70%
  }
  
}
